<!DOCTYPE html>
<html lang="en">

<head>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>

<body>
    <nav class="nav">
        <a href="#">
            <h1>Tasks App</h1>
        </a>
    </nav>
    <div id="app">
        <div class="content-app">
            <form class="content form-content-task">
                <h1>New task</h1>
                <input class="entry-new-task" v-model="title" type="text" placeholder="Title">
                <textarea class="entry-new-task task-description" v-model="description" placeholder="Description"></textarea>
                <button class="entry-new-task btn btn__save" v-on:click.prevent="saveTask">Save</button>
            </form>
            <div class="content task-content">
                <div class="task" v-for="task in taskList">
                    <h3>{{task.title}} : {{task.description}}</h3>
                    <button class="btn btn__delete" v-on:click="deleteTask">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module" src="script.js"></script>
</body>

</html>